<mat-nav-list>
    <a mat-list-item [routerLink]="['/']" routerLinkActive="active">
        <mat-icon class="sidenav-icon">
            <span class="material-icons-outlined">
                dashboard
            </span>
        </mat-icon>
        <span class="text_span">Dashboard</span>
    </a>
    <a mat-list-item  (click) = "logOut()">
        <mat-icon class="sidenav-icon">
            <span class="material-icons-outlined">
                logout
            </span>
        </mat-icon>
       <span class="text_span">Log Out</span>
    </a>
</mat-nav-list>