:host{
    padding: 20px;
    background-color: teal;
    a{
        font-size: 18px;
        color: aliceblue;
        padding-top: 5px;
    }
    mat-icon{
        padding-right: 5px;
    }
    .text_span{
        padding-left: 10px;
    }
}